/*
@Title - Final Assignment
@Authors - Monkhouse, Braidan P, Svetlana Bedareva, Jamie Bascin
@Updated - November 12, 2024
*/

/*
Css Variables
*/
:root {
--ACCENT-COL:red;
--TXT-COL:#000000;
--SEC-TXT-COL:brown;
--PRIM-COL:orangered;
--BCKGRND-COL:#FFFFFF;
--SECD-COL:#f8ff11;
--TERT-COL:#3c3c3c;
--DEF-TXT-SIZE:1.25rem;
--LRG-TXT-SIZE:1.7rem;
--BRDR-RAD:8px;
}


/*
Body
*/
* {
box-sizing:border-box;
color:var(--TXT-COL);
}
body {
background-color:var(--BCKGRND-COL);
display:flex;
flex-direction:column;
text-align:center;
}



/*
Header
*/
header {
display:flex;
justify-content:flex-start;
}
header img {
margin:1rem;
}
header ul {
list-style-type:none;
display:flex;
justify-content:flex-start;
}
header ul li {
text-align:center;
}
header ul a {
text-decoration:none;
font-size:var(--LRG-TXT-SIZE);
}
header ul a:hover {
color:red;
background-color:orange;
}



/*
Main layout
*/
main {
display:flex;
flex:1;
}


/*
Left sidebar
*/
.sidenav {
background-color:#B95F21;
flex:1 1 5rem;
}

/*
Center content
*/
.article {
background-color:#81A43C; 
flex:3 3;
}

/*
Right sidebar
*/
.aside {
background-color:#B95F21;
flex:1 1 5rem;
}





/*
Footer
*/
footer {

}
footer ul {
list-style-type:none;
}
footer ul li {

}
footer ul li a {
text-decoration:none;
}
footer ul li a:hover {
text-decoration:underline;
color:red;
background-color:purple;
}
footer copyright {
color:red;
}