/*
@Title - Final Assignment
@Authors - Monkhouse, Braidan P, Svetlana Bedareva, Jamie Bascin
@Updated - November 12, 2024
*/
@media screen and (min-width: 992px) {
    /*
    Body
    */
    * {
    
    }
    body {
    margin:0;
    }



    /*
    Header
    */
    header {
    height:5rem;
    padding:0px;
    }
    header img {
    height:3rem;
    width:auto;
    }
    header ul {
    padding:0px;
    margin:0px;
    }
    header ul li {
    padding:1rem;
    }
    header ul a {
    
    }

    
    
    

    /*
    Main layout
    */
    main {
    
    }
    
    
    /*
    Left sidebar
    */
    .sidenav {
    padding:1rem;
    }
    
    /*
    Center content
    */
    .article {
    padding:1rem;
    }
    
    /*
    Right sidebar
    */
    .aside {
    padding:1rem;
    }
    
    

    
    
    /*
    Footer
    */
    footer {
    
    }
    footer ul {
    
    }
    footer ul li {
    
    }
    footer ul li a {
    
    }
    footer copyright {
    
    }
}